/* PHASE 3: Content */

.content {
  box-sizing: border-box;;
  background: white;
  width: 900px;
  margin: auto;
  padding: 10px;
  border-left: thin solid lightgray;
  border-bottom: thin solid lightgray;
  border-left: thin solid lightgray;
}

.content-sidebar {
  width: 240px;
  float: left;
  padding: 15px;
}

.content-main {
  padding: 15px;

}

.content h1 {
 font-size: 23px;
 font-weight: bold;
 margin-bottom: 8px;
}

.content p {
  font-size: 15px;
  font-weight: lighter;
}
